<nav class="navbar">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Reports</a>
            <div class="dropdown-content">
                <a href="/reports/post">Create Reports</a>
                <a href="/reports">View Reports</a>
                <a href="/reports/edit">Edit Reports (to fix)</a>
                <a href="/reports/search">Search Reports</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Appointments</a>
            <div class="dropdown-content">
                <a href="/appointments/post">Create Appointments</a>
                <a href="/appointments">View Appointments</a>
                <a href="/appointments/edit">Edit Appointments (TBC)</a> 
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Profile</a>
            <div class="dropdown-content">
                <a href="/profile">View User Profile</a>
                <a href="/profile/add-provider">(TBC) Add Provider</a>
                <a href="/auth/password">(TBC) Change Password</a>
            </div>
        </li>
    </ul>
</nav>
