<nav class="navbar">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Reports</a>
            <div class="dropdown-content">
                <a href="/reports">Create Reports</a>
                <a href="/reports/all">View Reports</a>
                <a href="/reports">Edit reports</a>
                <a href="/reports/search">Search Reports</a>
                <a href="/reports/stats">Report Stats</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Appointments</a>
            <div class="dropdown-content">
                <a href="/appointments">View Appointments</a>
                <a href="/appointments/create">Create Appointments (Provider only)</a>
                <a href="/appointments/">Edit Appointments (Provider only)</a> 
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Profile</a>
            <div class="dropdown-content">
                <a href="/profile">View User Profile</a>
                <a href="/auth/password">Change Password</a>
            </div>
        </li>
    </ul>
</nav>
