<div class="container">
		<h1>Welcome to My HealthTech API</h1>
		<div>
				<h2>{{message}}</h2>
				<ul>
						{{#newAppointment}}
								{{#.}}
								<li>
										First Name: {{name.firstName}}<br>
										Last Name: {{name.lastName}}<br>
										<br>
										{{#date}}
										{{#.}}
										Date: {{.}} <br>
										{{/.}}
										{{/date}}
								</li>
								<hr>
								{{/.}}
						{{/newAppointment}}
				</ul>
		</div>
		<div>
				<h2>Create New Appointment</h2>
				<form action="/appointments/create" method="POST">
						<label for="userId">Enter patient ID: </label>
						<input type="text" name="userId" />
						<label for="date">Date: </label>
						<input type="text" id="date" name="date" />
						<label for="providerId">Enter your ID: </label>
						<input type="text" id="providerId" name="providerId" /> 
						<input type="submit" />
				</form>
		</div>
</div>

