
<div class="container">
	<div>
			<h2>Appointment: {{id}}</h2>
			<ul>
					{{#newAppointment}}
							{{#.}}
									First Name: {{name.firstName}}<br>
									Last Name: {{name.lastName}}<br>
									<br>
									{{#date}}
									{{#.}}
											<li>Date: {{date}}</li>
											{{/.}}
									{{/date}}
							{{/.}}      
					{{/newAppointment}}
			</ul>
	</div>
<div>
		<h2>Edit date for current appointment</h2> 
		<form action="/appointments/{{id}}?_method=PUT" method="POST">
				<input type="hidden" name="_method" value="PUT">
				
				<label for="date">Date: </label>
				<input type="text" id="date" name="date"><br>
				<input type="submit"/>
		</form>
		<h2>Delete current appointment</h2>
		<form action="/appointments/{{id}}?_method=DELETE" method="POST">
				<input value="Delete report forever (You cannot undo this)" type="submit"/>
		</form>
</div>
</div>
