<div class="container">
<h2>Fill in the form to change your password</h2>
			<form action="/auth/password?_method=PUT" id="password-form" method="POST">
			<input type="hidden" name="_method" value="PUT">
			
			<label for="oldPassword">Enter previous password: </label>
					<input type="password" class="form-field" id="oldPassword" name="oldPassword" placeholder="Previous password"/><br>

			<label for="newPassword">Enter new password: </label>
					<input type="password" class="form-field" name="newPassword" id="newPassword" placeholder=" New password"/><br>
			
			<label for="repeatPassword">Enter new password again: </label>
					<input type="password" class="form-field" name="repeatPassword" id="repeatPassword" placeholder="Repeat password" data-invalid-message="Your passwords should match"/><br>

			<input type="submit"/>
			</form>
		</div>

