<html lang="en">
	<body>
 		<div>
<h2>Sign up for an account</h2>
			<form action="/auth/signup" method="POST">
				<label for="name">Enter Name: </label>
								<input type="text" name="name" placeholder="Name" /><br>
				<label for="email">Enter Email: </label>
								<input type="text" name="email" placeholder="Email" /><br>
				<label for="password">Enter password: </label>
								<input type="text" name="password" placeholder="password" /><br>
				<input type="checkbox" id="roles" name="roles" value="provider">
					<label for="roles">I am a provider</label><br> 
						<input type="submit"/>
		</div>
 		</form>
	</body>
</html>