<div class="container">
	<h2>Log into your account</h2>
			<form action="/auth/login" method="POST">
				<label for="email">Enter Email: </label>
						<input type="text" name="email" placeholder="Email" /><br>
				<label for="password">Enter password: </label>
						<input type="text" name="password" placeholder="password" /><br>
				<input type="submit"/>
			</form>
</div>
