<html lang="en">
	<body>
 		<div>
<h2>Fill in the form to change your password</h2>
			<form action="/auth/password?_method=PUT" method="POST">
				<label for="password">Enter new password: </label>
								<input type="text" name="password" placeholder="password" value="PUT"/><br>
						<input type="submit"/>
			</form>
		</div>
	</body>
</html>