<div class="container">
<h2>Fill in the form to change your password</h2>
			<form action="/auth/password?_method=PUT" method="POST">
			<label for="oldPassword">Enter previous password: </label>
								<input type="text" name="oldPassword" placeholder="oldPassword" value="PUT"/><br>

				<label for="password">Enter new password: </label>
								<input type="text" name="password" placeholder="password" value="PUT"/><br>
								<label for="repeatPassword">Enter new password again: </label>
								<input type="text" name="repeatPassword" placeholder="repeatPassword" value="PUT"/><br>
						<input type="submit"/>
			</form>
		</div>

