<div class="container">
	<h1>Welcome to My HealthTech API</h1>
	<p>Empowering mental health tracking for users and their physicians.</p>
	<p>Explore our documentation and get started:</p>
	
	<ul>
		<a class="link" href="/docs">API Documentation</a>
		<a class="link" href="/auth/signup">Sign Up</a>
		<a class="link" href="/auth/login">Login</a>
	</ul>
</div>
