<html lang="en">
	<body>
 		<div> 
			<h2>Reports</h2>
			<h3>Information </h3>
   		Date: {{report.date}} <br>
   		Name: {{report.name}} <br>
			Email: {{report.email}} <br>
			<h3>Ratings</h3>
			Mood: {{report.mood}} <br>
			Inattentiveness: {{report.inattentiveness}} <br>
			Hyperactivity: {{report.hyperactivity}}<br>
			Impulsitivity: {{report.impulsitivity}}<br>
			<h3>Entries</h3>
			JournalEntry: {{report.journalEntry}}<br>
			Medication Reactions: {{report.medRxn}}<br>
		</div>
		<div>
			<h2>Edit report</h2>
			<form action="/reports/{{id}}?_method=PUT" method="POST">
 			<label for="date">Enter date: </label>
    			<input type="text" name="date" placeholder="date" /><br>
			<label for="mood">Mood rating: </label>
					<input type="number" id="mood" name="mood" min="1" max="5"><br>
 			<label for="inattentiveness">Inattentiveness rating: </label>
					<input type="number" id="inattentiveness" name="inattentiveness" min="1" max="5"><br>
			<label for="hyperactivity">Hyperactivity rating: </label>
					<input type="number" id="hyperactivity" name="hyperactivity" min="1" max="5"><br>
			<label for="impulsitivity">Impulsitivity rating: </label>
					<input type="number" id="impulsitivity" name="impulsitivity" min="1" max="5"><br>
			<label for="journalEntry">Journal Entry:</label>
				<input type="text" id="journalEntry" name="journalEntry"><br>
			<label for="medRxn">Reactions to medication:</label>
				<input type="text" id="medRxn" name="medRxn"><br>
			<input type="submit"/>
 		</form>
		</div>
		<div>
			<form action="/reports/{{id}}?_method=DELETE" method="POST"> 
			<input value="Delete report forever (You cannot undo this)" type="submit"/>
 		</form>
		</div>
	</body>
</html>