 <div class="container">
		<h2>Reports</h2>		
				<form action="/reports/search" method="GET">
					<label for="query">Enter search terms (separated by commas): </label>
							<input type="text" name="query" placeholder="tired, stressed" />
				<input type="submit"/>
				</form>
	</div>x