<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My HealthTech API</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: left;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            min-width: 400px;
						max-width: 600px;
            margin: auto;
        }
        h2 {
            color: #800000; 
        }
        p {
            margin-top: 20px;
            font-size: 1.2em;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: 5px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            margin: 10px 0 5px;
        }
        input[type="text"],
        input[type="submit"] {
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: calc(100% - 20px);
        }
        input[type="submit"] {
            background-color: #800000; 
            border: none;
            color: white;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #660000; 
        }
    </style>
</head>
<body>
    <div class="container">
			<h2>{{message}}</h2>
			{{#report}}
			{{#.}}
			<ul>
			<hr>
				<li><h3>{{firstName}} {{lastName}}'sInformation </h3>
				<ul>
					<li>Name: {{firstName}} {{lastName}}<br></li>
					<li>Email: {{email}} <br></li>
				{{#reports}}
				{{#.}}
				<ul>
					<li><u><h3>Date: {{date}} <h3></u></li>
					<h3>Ratings</h3>
					<li>Mood: {{mood}} <br></li>
					<li>Inattentiveness: {{inattentiveness}} <br></li>
					<li>Hyperactivity: {{hyperactivity}}<br></li>
					<li>Impulsitivity: {{impulsitivity}}<br></li>
					<h3>Entries</h3>
					<li>Journal Entry: {{journalEntry}}<br></li>
					<li>Medication Reactions: {{medRxn}}<br></li>
				</ul>
				{{/.}}
				{{/reports}}
				</ul>
				</li>
				</ul>
				{{/.}}
				
			{{/report}}
		</div>
	</body>
</html>