    <div class="container">
		<h2>To view or modify individual reports</h2>
			<form action="/reports/modify" method="GET">
					<label for="query">Enter Report Id: </label>
							<input type="text" name="query" />
				<input type="submit"/>
				</form>
			<h2>{{message}}</h2>
			{{#report}}
			{{#.}}
			<ul>
			<hr>
				<li><h3>{{firstName}} {{lastName}}'s Information </h3>
				<ul>
					<li>Name: {{firstName}} {{lastName}}<br></li>
					<li>Email: {{email}} <br></li>
 				{{#reports}}
				{{#.}}
				<ul>
					<li><u><h3>Date: {{date}} </h3></u></li>
					<h3>Ratings</h3>
					<li>Mood: {{mood}} <br></li>
					<li>Inattentiveness: {{inattentiveness}} <br></li>
					<li>Hyperactivity: {{hyperactivity}}<br></li>
					<li>Impulsivity: {{impulsivity}}<br></li>
					<h3>Entries</h3>
					<li>Journal Entry: {{journalEntry}}<br></li>
					<li>Medication Reactions: {{medRxn}}<br></li>
				</ul>
				{{/.}}
				{{/reports}}
				</ul>
				</li>
				</ul>
				{{/.}}
			{{/report}}
		</div>
		<script src="https://d3js.org/d3.v6.min.js"></script>
    <script type= "module" src="/charts/index.js"></script>
	