    <div class="container">
        <div>{{message}}</div>
        <div>
            <h2>{{type}}</h2>
            <ul>
                {{#user}}
                    {{#.}}
                    <li>First Name: {{firstName}}</li>
                    <li>Last Name: {{lastName}}</li>

                    <li>Email: {{email}}</li>
                    <li>Contact Number: {{contactNum}}</li>
										<br>
                    <li>Medications: {{medication}}</li><br>
                    {{/.}}
                    <hr>
                {{/user}}
            </ul>
        </div>
					<h2>Complete the change form if you have new provider</h2>
			<form action="/users/{{id}}/provider?_method=PUT" method="POST">
				<input type="hidden" name="_method" value="PUT">
				<label for="providerId">Enter new provider Id: </label>
				<input type="text" name="providerId"/>
				<input type="submit"/>
			</form>
    </div>

