<html lang="en">
	<body>
	<h2>Complete the change form if you have new provider</h2>
 		<div>
			<form action="/users/{{id}}/provider?_method=PUT" method="POST">
				<label for="providerId">Enter new provider Id: </label>
				<input type="text" name="providerId" placeholder="providerId" value="PUT"/>
				<input type="submit"/>
			</form>
		</div>
	</body>
</html>