body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding-top: 60px;
}

.navbar {
  background-color: #6e987e;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
	display:inline-grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.navbar-menu {
	display: flex;
  justify-content: center;
	grid-column: 2 / 3;
}
.access-menu {
	display: flex;
  justify-content: right;
	grid-column: 3 / 4;
}

.navbar-menu, .access-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-menu li {
  position: relative;
  text-align: center;
}
.navbar-menu a {
	display: block;
}

.navbar-menu a, .access-menu a {
  text-decoration: none;
  color: #fff;
  padding: 14px 16px;
}

.navbar-menu .dropbtn:hover {
  background-color: #a2bdad;
}

.dropdown {
  position: static;
  display: inline-block;
}

.dropdown ul {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.dropdown ul li a {
  padding: 12px 16px;
  color: black;
  display: block;
  text-align: left;
  white-space: nowrap;
}

.dropdown ul li a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover ul {
  display: block;
}

.container {
  text-align: left;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

h2 {
  color: #6e987e;
}

p {
  margin-top: 20px;
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
}

.container li {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
}

input[type="submit"] {
  background-color: #6e987e;
  border: none;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a2bdad;
}

.hidden {
  display: none;
}
 
input:invalid {
  border-color: #F44336; 
  background-color: #fddddd;
}
 